<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1>Students Data</h1>
    <a href="/">Return to Home</a><br><br>
    <a href="/students/add"><button type="button" name="button">Add Data</button></a>
    <table>
      <thead>
        <th>No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Options</th>
      </thead>
      <tbody>
        <%let no=0; if (data){data.forEach(rows=>{no++%>
          <tr>
            <td><%=no%></td>
            <td><%=rows.first_name%></td>
            <td><%=rows.last_name%></td>
            <td><%=rows.getFullName()%></td>
            <td><%=rows.email%></td>
            <td>
              <a href="/students/edit/<%=rows.id%>">Edit</a>
              <a href="#">|</a>
              <a onclick="return confirm('Are you sure to delete this data?')" href="/students/delete/<%=rows.id%>">Delete</a>
            </td>
          </tr>
        <%})}%>
      </tbody>
    </table>
  </body>
</html>
