<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1>Add Data Students</h1>
    <a href="/students">Return to Students</a><br>
    <%if (pesan_error!=''){%>
      <h5><%=pesan_error%></h5>
    <%}%>
    <form class="" action="/students/add" method="post">
      First Name <br>
      <input type="text" name="first_name" value="<%=data.first_name%>" placeholder="first name"><br>
      Last Name <br>
      <input type="text" name="last_name" value="<%=data.last_name%>" placeholder="last name"><br>
      Email <br>
      <input type="text" name="email" value="<%=data.email%>" placeholder="email"><br><br>
      <button type="submit" name="button">Add Data</button>
    </form>
  </body>
</html>
