<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
  </head>
  <body>
    <%-include partial/navigation%>
    <h1 align="center"><%=data[0].subject_name%></h1>
    <div class="" align="center">
      <a href="/subjects">Return to Subject</a><br><br>
    </div>
    <div class="container">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <th>No</th>
          <th>Name</th>
          <th>Score By Number</th>
          <th>Score By Letter</th>
        </thead>
        <tbody>
          <% let i=1; if (data) {data[0].Students.forEach(row=>{%>
            <tr>
              <td><%=i++%></td>
              <td><%=row.getFullName()%></td>
              <%if (row.StudentSubject.score==null){%>
                <td><a href="/subjects/<%=row.StudentSubject.id%>/givescore">Give Score</a></td>
              <%} else {%>
                <td><%=row.StudentSubject.score%></td>
              <%}%>
              <td><%=row.getDataValue('score_leter')%></td>
            </tr>
          <%})}%>
        </tbody>
      </table>
    </div>
  </body>
</html>
