<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
    <style media="screen">
      .container{
        width: 500px;
      }
      h5{
        color: red;
      }
    </style>
  </head>
  <body>
  <%-include partial/navigation%>
    <h1 align="center">Edit Data Teachers</h1>
    <div class="" align="center">
      <a href="/teachers">Return to Teachers</a><br>
      <%if (pesan_error!=''){%>
        <h5><%=pesan_error%></h5>
      <%}%>
    </div>
    <div class="container">
      <form class="form" action="/teachers/edit/<%=data.id%>" method="post">
        <div class="form-group">
          <label>First Name:</label>
          <input class="form-control" type="text" name="first_name" value="<%=data.first_name%>" placeholder="first name">
        </div>
        <div class="form-group">
          <label>Last Name:</label>
          <input class="form-control" type="text" name="last_name" value="<%=data.last_name%>" placeholder="last name">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" type="text" name="email" value="<%=data.email%>" placeholder="email"><br
        </div>
        <div class="form-group">
          <label>Select Subject :</label>
          <select class="form-control" name="SubjectId">
            <%if (dataSubjects){dataSubjects.forEach(rows=>{%>
              <%if (rows.id=data.SubjectId){%>
                <option value="<%=rows.id%>" selected><%=rows.subject_name%></option>
              <%}else{%>
                <option value="<%=rows.id%>"><%=rows.subject_name%></option>
              <%}%>
            <%})}%>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Edit Data</button>
      </form>
    </div>
  </body>
</html>
