<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
    <style media="screen">
      .container{
        width: 500px;
      }
    </style>
  </head>
  <body>
    <%-include partial/navigation%>
    <h1 align="center">Edit Data Users</h1>
    <div class="" align="center">
      <a href="/users">Return to Users</a>
    </div>
    <div class="container">
      <form class="form" action="/users/edit/<%=data.id%>" method="post">
        <div class="form-group">
          <label>User Name:</label>
          <input class="form-control" type="text" name="username" value="<%=data.username%>" placeholder="user name">
        </div>
        <div class="form-group">
          <label>Passwor:</label>
          <input class="form-control" type="password" name="password" value="<%=data.password%>" placeholder="password">
        </div>
        <div class="form-group">
          <label>Select Subject :</label>
          <select class="form-control" name="role">
            <%if(dataRole){dataRole.forEach(rows=>{%>
              <%if(rows.role===data.role){%>
                <option value="<%=rows.role%>" selected><%=rows.role%></option>
              <%}%>
              <option value="<%=rows.role%>"><%=rows.role%></option>
            <%})}%>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Edit Data</button>
      </form>
  </body>
</html>
